{% extends "layout.html" %} {% block content %}

<div class="container">
    <div class="starter-template">
        <h1>文章校正アプリケーション</h1>
        <p class="lead">自信のない文章はありますか？
            <br>テキストボックスに入力またはペーストして、ボタンを押してみてください。</p>
    </div>
</div>
<!-- /.container -->

<div class="container">
    <div class="row">
        <div class="col-6">
            <form action="/test" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="textarea"><small>テキスト</small> </label>
                    <textarea id="textarea" name="textarea" class="form-control" rows="10" placeholder="こちらへどうぞ。"></textarea>
                </div>
                <div class="form-group" style="text-align: center;">
                    <input class="btn btn-dark" type="submit" value="修正">
                </div>
            </form>
        </div>

        <div class="col-6">
            <form name="targetForm">
                <div class="form-group">
                    <label for="retouch"><small>修正先のテキスト</small></label>
                    <textarea name=retouch id="retouch" class="form-control" rows="10" readonly>{{text}}</textarea>
                </div>
                <div class="form-group" style="text-align: center;">
                    <button name="copy1" class="btn btn-dark">コピー</button>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- コピーボタン -->
<script>
    // フォーム要素を得る
    var form = document.forms.targetForm;

    // 対象のテキスト入力要素の中身をコピーするメソッド
    var copyTextInTarget = function(target) {

        // 要素に含まれる文字列全てを選択状態にする
        target.selectionStart = 0;
        target.selectionEnd = target.value.length;

        // コピーしたい文字列がある要素をフォーカス
        target.focus();

        // コピーを実行する。失敗した場合はログにメッセージを表示。
        if (!document.execCommand('copy')) {
            console.log("コピーに失敗しました。");
        }

        // フォーカスを外す
        target.blur();
    };

    // ボタン（copy1）がクリックされた時
    form.copy1.addEventListener("click", function(e) {

        // ボタン本来の動作をブロック
        e.preventDefault();

        // フォームの中にあるテキストエリアを取得
        var textarea = form.retouch;

        // 生成と同時にコピーする
        copyTextInTarget(textarea);
    }, false);
</script>
{% endblock %}
